<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newProducts.css">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="navBar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/newProducts">new  products</a></li>
                    <li><a href="/products">products</a></li>
                    <li><a href="/log-in">login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <form action="/newProducts" method="POST">
        <label for="">Title :</label>
        <input type="text" name="text" id="">
        <label for="">author :</label>
        <input type="text" name="body" id="">
        <input type="submit" value="add book" />
    </form>
</body>
</html>