<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="products.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="navBar">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/newProducts">new products</a></li>
            <li><a href="/products">products</a></li>
            <li><a href="/log-in">login</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="product-container">
      <div>
        <div class="title-container">
          <h1 class="title">Books collection</h1>
        </div>
        <div  class="books-container">
            <% bookList.forEach((book)=>{%>
            <div class="dBooks">
              <b><%=book.title %></b>
              <p><%=book.author %></p>
            </div>
            <% }) %>
            <h1>New books</h1>
            <% bookList.forEach((book)=>{%>
              <div class="mybooks">
                <b><%=book.text%></b>
                <p><%=book.body%></p>
              </div>
              <% }) %>
            </div>
      </div>
    </div>
  </body>
</html>
