body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('/images/clean-2721102_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

header ul {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    margin-top: 0px;
    margin-top: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.5);
    border-bottom: 2px solid #34495E;

}

li {
    list-style-type: none;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.author{
    text-align: center;
    line-height: 50px;
    
}